service: dlm-platform

custom:
  stage: ${opt:stage, self:provider.stage}
  region: ${opt:region, self:provider.region}

params:
  dev:
    VPCID: vpc-0c07cdd25c80eb7a3
    SUBNETIDS: 
      - subnet-018313b2802ae2719
      - subnet-087fad512b11f8f42
    RDSSGID: sg-
    DB_HOST: database.c2h2uwui8lj0.us-east-1.rds.amazonaws.com
    DB_PORT: 5432
    DB_NAME: postgres
    DB_USER: postgres
    DB_PASSWORD: Aws-0020alj.333

    # DB_SECRET_ARN: ${env:DB_SECRET_ARN}
    S3_BUCKET_NAME: dev-bucket-376129844054
    ISSUERURL: ${env:COGNITO_ISSUER_URL, ""}
    AUDIENCE: ${env:COGNITO_AUDIENCE, ""}
  prod:
    VPCID: ${env:VPC_ID}
    SUBNETIDS: ${env:PRIVATE_SUBNET_IDS}
    RDSSGID: ${env:RDS_SG_ID}
    DB_SECRET_ARN: ${env:DB_SECRET_ARN}
    S3_BUCKET_NAME: ${env:S3_BUCKET_NAME}
    ISSUERURL: ${env:COGNITO_ISSUER_URL, ""}
    AUDIENCE: ${env:COGNITO_AUDIENCE, ""}

provider:
  name: aws
  runtime: python3.11
  region: ${self:custom.region}
  stage: ${opt:stage, 'dev'}
  logRetentionInDays: 30

  httpApi:
    cors: true
    authorizers:
      cognitoJwt:
        type: jwt
        identitySource: $request.header.Authorization
        issuerUrl: ${param:ISSUERURL}
        audience:
          - ${param:AUDIENCE}

  vpc:
    securityGroupIds:
      - Ref: LambdaSecurityGroup
    subnetIds: ${param:SUBNETIDS}

  environment:
    ENVIRONMENT: ${self:custom.stage}
    # DB_SECRET_ARN: ${param:DB_SECRET_ARN}
    S3_BUCKET_NAME: ${param:S3_BUCKET_NAME}
    DB_NAME: ${param:DB_NAME}
    DB_USER: ${param:DB_USER}
    DB_PASSWORD: ${param:DB_PASSWORD}
    DB_HOST: ${param:DB_HOST}
    DB_PORT: ${param:DB_PORT}



package:
  individually: true
  patterns:
    - '!__pycache__/**'
    - '!node_modules/**'

functions:
  example_api: ${file(src/app/example_api/example_api.yml)}
  print_lambda: ${file(src/app/print_lambda/print_lambda.yml)}

resources:
  - ${file(resources/vpc/vpc.yml)}

plugins:
  - serverless-iam-roles-per-function
  - serverless-plugin-resource-tagging
