version: 0.2

phases:
  install:
    runtime-versions:
      nodejs: 18
      python: 3.12
    commands:
      - npm i -g serverless
      - npm ci
  build:
    commands:
      - sls deploy --stage $STAGE --region $AWS_REGION
